/*
1. Root & main settings.
2. Navigation
3. Navigation Logo
4. Navigation CTA
5. Modal + Formulär
6. Flow-column
*/

:root {
  --nav-blue: #89cef8;
  --BG-blue: #8dc7e7;
  --text-fill: #2185c3;
  --wall-white: #f3f9fa;
  --btn-text: #dee9f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/light-blue-aesthetic.png");
  background-repeat: repeat;
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
}

.main-container {
  position: relative;
}

/* Navigation */
.navigation {
  width: 100vw;
  background-color: var(--nav-blue);
  height: 11vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

/* Navigation Logo */
.logo {
  background-color: var(--nav-blue);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.navigation .logo .doge {
  display: flex;
  background-color: var(--nav-blue);
  border-radius: 60px;
}

.navigation .logo .top {
  align-self: center;
  margin-left: 13px;
  font-size: 2.5em;
  color: var(--text-fill);
  -webkit-text-stroke: black 2px;
}

/* Call to Action - Navigation CTA */
.cta-knappen {
  padding: 10px;
  background-color: var(--text-fill);
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 700;
  color: var(--btn-text);
  height: 9vh;
  padding-left: 15px;
  padding-right: 15px;
  align-self: center;
}

.cta-knappen:hover {
  cursor: pointer;
}

/* Profil knappen */
#profilelink {
  width: 120px;
  height: 100px;
  border-radius: 40px;
}

/* Modal + Formulär */
.modal-content {
  width: 700px;
}

#medlem-formular {
  display: flex;
  flex-direction: column;
}

/* Sätt maximal och minimal storlek. max-width + flex ? */
/* Generellt behövs width 700 och height 500 */
/* Finns en variabel som hoppar mellan minsta, preferabla och högsta */
#dogHome {
  border-radius: 10px;
  max-width: 360px;
  max-height: 250px;
  background-color: var(--BG-blue);
}

#dogprofile {
  border-radius: 10px;
  max-width: 360px;
  max-height: 250px;
  background-color: var(--BG-blue);
}

/* Flödes- kolumnen  flow-column*/

.flow-column {
  position: relative;
  height: 150vh;
  width: 50vw;
  margin: 0 auto;
  padding: 15px;
  z-index: 4;
  background-color: var(--wall-white);
  top: 141px;
}

/* .post-2flow {
  border: black 2px solid;
} */
#post-typing {
  width: 72%;
  border-radius: 20px;
  height: 38px;
}

#post-publishing {
  margin-left: 25px;
  padding: 10px;
  background-color: var(--text-fill);
  font-size: 20px;
  font-weight: 500;
  color: var(--wall-white);
  border: none;
  border-radius: 20px;
}

#post-publishing:hover {
  cursor: pointer;
}

.inlagg-top {
  margin: 10px auto 25px;
}

.inlagg {
  margin: 70px 5px 60px;
  display: grid;
  gap: 0;
  height: 75px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.fa-user {
  grid-row: 1/5;
  display: flex;
  justify-self: center;
}

.inlagg .post-name {
  grid-column: 2/6;
  grid-row: 1/2;
  font-size: 22px;
  font-weight: 500;
}

.inlagg .post-text {
  grid-column: 2/6;
  grid-row: 2/5;
  font-size: 18px;
}
